.pagina-padrao label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #444;
}

.pagina-padrao input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.pagina-padrao button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.pagina-padrao button:hover {
  background-color: #2980b9;
}
.pagina-padrao canvas {
  max-width: 600px;
  margin: 0 auto;
}